{% extends  'layout.html' %}
<!-- page content -->
{%block content%}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Add Patient</h3>
      </div>

      <div class="col-sm-12">
        <div class="panel panel-default">

          <div class="panel-heading no-print">
            <div class="btn-group"> 
              <a class="btn btn-success" href="{{ url_for('pat_list') }}"> <i class="fa fa-list"></i>Patient List</a>  
            </div>
          </div> 
          <br><br>
          <form id="demo-form2" action="patient" method="POST" class="form-horizontal form-label-left">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="name" placeholder="Name" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Email <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="Email" name="email" placeholder="Email" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Password <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="password" placeholder="Password" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Mobile <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="mobile" placeholder="Mobile" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
               <input name="date_of_birth" class="datepicker form-control hasDatepicker" type="text" placeholder="Date of Birth" id="date_of_birth" >
             </div>
           </div>
           <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Blood Group <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <select name="blood_group" class="form-control select2-hidden-accessible" id="blood_group" tabindex="-1" aria-hidden="true">
                <option value="" selected="selected">Select Option</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
              </select>

            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Sex <span class="required">*</span></label>
            <div class="col-xs-9">
              <div class="form-check">
                <label class="radio-inline">
                  <input type="radio" name="sex" value="Male" checked="checked">Male </label>
                  <label class="radio-inline">
                    <input type="radio" name="sex" value="Female">Female </label>
                    <label class="radio-inline">
                      <input type="radio" name="sex" value="Other">Other </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Address <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea name="address" class="form-control" placeholder="Address" maxlength="140" rows="7"></textarea>
                  </div>
                </div>
                
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{%endblock%}

